.formulario {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    .Horarios,.DatosContacto {
      color: white;
      padding: 20px;
      position: relative;
      z-index: 1;}
    .Horarios {
        background-color: grey;
        margin-right: 5px;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;}
    .Recuadrocontactanos {
        background-color: white;
        width: calc(50% - 5px);
    }input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }h2 {
        margin-bottom: 10px; }
    .ButtonBlack {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer; }
    .DatosContacto{
      color:black;
    }
}

@media (max-width: 768px) {
  .formulario {
      flex-direction: column; }
  
  .Horarios {
     width: calc(100% - 10px);
      transform: none;
      margin-bottom: 20px; }
  .Recuadrocontactanos {
    width: 100%;
    transform: none;
    margin-bottom: 20px;}
}