.SeccionCuadroInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    .ImgCuadroInfo{
        display: flex;
        justify-content: center; }
    .FotoCuadro {
        height: 400px;}
    .CuadroInfo {
        width: 440px;
        padding: 10px;
        border: solid 2px black;
        background-color: white;
        line-height: 25px;
        height: 265px;}
        h2 {
        padding: 10px 0px;}
}

@media screen and (max-width: 768px) {
    .SeccionCuadroInfo {
      flex-direction: column;}
    /*Estilos para centrar verticalmente el contenido */
    .SeccionCuadroInfo:before {
        content: '';
        flex: 1 0 auto; }
    .SeccionCuadroInfo:after {
        content: '';
        flex: 1 0 auto; }
}
.Informacion {
    background-color: black;
    color: white;
    margin: 5px 0px 0px 0px;
    padding: 20px;
}