ul {
    display: flex; 
    list-style: none;
    justify-content: center;
    li a {
        padding: 20px;
        margin: 0px 15px;
        color: black;
        display: block;
        color: rgba(0, 0, 0, 0.822);
        text-decoration: none;
        font-size: 24p;
        &:hover {
        color:black;
        }}
}