ul {
    display: flex; 
    list-style: none;
    justify-content: center;
    li a {
        padding: 20px;
        margin: 0px 15px;
        color: black;
        display: block;
        color: rgba(0, 0, 0, 0.822);
        text-decoration: none;
        font-size: 24p;
        &:hover {
        color:black;
        }}
}
nav .menu {
    display: none;
 }
@media (max-width: 768px) {
    nav { 
        display: flex;
        justify-content: space-between;

    }
    nav .menu {
        display: block;
        font-size: 25px;
        margin: 10px;
        order: -1;
    }
    nav ul {
        position: fixed;
        top: 0;
        left: -500px;
        background-color: white;
        width: 80vh;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 100px;

    }
    

}